<img class="col-md-3 img-rounded img-responsive" alt="Louis Absil" src="{{ site.baseurl }}/files/bio/portrait.jpg"/>

<div class="col-md-2"><h2>Louis Absil</h2>
<h3>Pianiste et chef de chant assistant</h3></div>

<p>Initié au piano et au violon dès l’âge de quatre ans, Louis Absil intègre ensuite la Maîtrise de son collège (<em>Les Petits Chanteurs de Sainte-Croix de Neuilly – The Paris Boys Choir</em>), devient soliste soprano et y aborde divers répertoires sacrés ou profanes (<em>Requiem</em> de Mozart, <em>Gloria</em> de Vivaldi, <em>Miserere</em> d’Allegri).</p>

<p>Il étudie le piano en conservatoire, à Meudon dans la classe d'Alan Ball, au CRR de Boulogne-Billancourt chez Geneviève Ibanez puis au CRR de Paris avec Judy Chin, à la Schola Cantorum dans la classe de Gabriel Tacchino, et en 2015, il est reçu à la Haute Ecole de Musique de Genève dans la classe de Marc Pantillon.</p>

<p>Louis Absil a pu profiter de l’enseignement de pianistes concertistes renommés, lors de stages de formation : Gabriel Tacchino, Marya Masycheva, Georgy Gromov, Bruno Rigutto… Il étudie aussi l'orgue sous la direction de Philippe Sauvage, titulaire de la tribune de Saint-Pierre de Neuilly, et l'accompagnement, avec Yumi Otsu puis Denis Comtet.</p>

<p>Parallèlement aux études qu’il poursuit, Louis Absil est régulièrement sollicité par les chanteurs solistes, les ensembles vocaux et instrumentaux en tant que pianiste accompagnateur, il travaille notamment avec le contre-ténor Éric de Fontenay et le Chœur de Saint-Ferdinand des Ternes.</p>

<p>Depuis 2012 il est chef de chant assistant des Petits Chanteurs de Sainte-Croix de Neuilly – The Paris Boys Choir –, dont il accompagne les concerts et tournées en France et à l'etranger (Espagne, Chine...).</p>
